:root {
  --font-nunito: 'Nunito', Arial, Helvetica, sans-serif;
  --color-white: #fff;
  --color-black: #000;
  --color-dark: #313235;
  --color-gray: #22222210;
  --color-yellow: #daa520;
  --color-pink: #f9bdbd;
}